{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTSO</title>
    <link rel="stylesheet" href="{% static 'Homepage.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <ul>
                <li><a href="ViewEventTeam">Event Team</a></li>
                <li><a href="Verify_Cameraman">CameraMan</a></li>
                <li class="logo">EVENTSO</li>
                <li><a href="Verify_MakeupArtist">Makeup Artist</a></li>
                <li><a href="Viewcomplaint">Complaint</a></li>
                
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Imagination<br><span>Is The Beginning</span><br>Of Creation</h1>
        <p>The Best Multipurpose One Page Template in Market</p>
        <a href="#" class="btn">Learn More</a>
        <!-- <div class="image-container">
           <img src="D:\python django\Eventso\EventsoPro\static\a-garden-with-lights-and-flowers-ai-generated-photo.jpg">
        </div> -->
    </section>

    <!-- Features Section -->
    <section class="features">
        <h2>All You Need To Know</h2>
        <h3>Our Features</h3>
        <p>Exceptuer sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde omnis iste natus error sit.</p>
    </section>
</body>
</html>
