<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Table</title>
    <link rel="stylesheet" href="verifyevent.css">
</head>
<body>
    <div class="table-container">
        <h2>User Verification Table</h2>
        <table border="1">
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <td>
                            <a href="#" class="accept"><i class="fas fa-check"></i> Accept</a>
                            <a href="#" class="reject"><i class="fas fa-times"></i> Reject</a>
                        </td>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>
</html>
